/* Background */
.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, #6a5af9, #4da8ff);
  padding: 20px;
}

/* Glass card */
.login-card {
  width: 360px;
  padding: 30px;
  border-radius: 15px;

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);

  box-shadow: 0 10px 25px rgba(0,0,0,0.25);
  animation: fadeIn 0.6s ease;

  color: #fff;
  text-align: center;
}

/* Title */
.login-title {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 5px;
}

.login-subtitle {
  font-size: 14px;
  opacity: 0.9;
  margin-bottom: 25px;
}

/* Input field group */
.input-group {
  position: relative;
  margin-bottom: 25px;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;

  background: rgba(255,255,255,0.2);
  color: #fff;

  font-size: 15px;
  outline: none;
  transition: 0.3s;
}

.input-group input:focus {
  background: rgba(255,255,255,0.3);
  box-shadow: 0 0 10px rgba(255,255,255,0.4);
}

/* Floating Label Animation */
.input-group label {
  position: absolute;
  left: 12px;
  top: 12px;
  pointer-events: none;

  color: #eee;
  transition: 0.3s ease;
}

.input-group input:focus ~ label,
.input-group input:valid ~ label {
  top: -10px;
  left: 8px;
  font-size: 12px;
  opacity: 0.9;
  color: #fff;
}

/* Login button */
.login-btn {
  width: 100%;
  padding: 12px;
  background: #fff;
  color: #4a3aff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;

  cursor: pointer;
  transition: 0.3s ease;
}

.login-btn:hover {
  background: #ececff;
  transform: translateY(-3px);
  box-shadow: 0 8px 15px rgba(255,255,255,0.4);
}

/* Bottom text */
.login-bottom {
  margin-top: 18px;
  font-size: 14px;
}

.login-bottom a {
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
}


/* Fade Animation */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(15px); }
  to   { opacity: 1; transform: translateY(0); }
}

.signup-link{
  text-decoration: none !important;
}